@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

.phx-book {
    background: rgba(255, 255, 255, 0.25)!important;
    border-radius: 14px;
    padding: 1em;
    float: right;
    color:#fff;
}
.theme-line,
.theme-solid {
    background-color: #f9f9f9;
}
.theme-line header,
.theme-solid header {
    background-color: #fff;
}
.theme-line .navbar-nav a,
.theme-solid .navbar-nav a {
    background-color: transparent;
}
.theme-line .navbar-nav a:hover,
.theme-solid .navbar-nav a:hover,
.theme-line .navbar-nav a:active,
.theme-solid .navbar-nav a:active,
.theme-line .navbar-nav a:focus,
.theme-solid .navbar-nav a:focus {
    background-color: transparent
}
.theme-line .btn-primary,
.theme-solid .btn-primary {
    border: 0 none
}
.theme-solid header h2 {
    color: #fff
}
.theme-solid header p {
    color: rgba(255, 255, 255, 0.7)
}
.theme-solid .navbar-nav {
    color: rgba(255, 255, 255, 0.4);
}
.theme-solid .navbar-nav a {
    color: rgba(255, 255, 255, 0.8);
}
.theme-solid .navbar-nav a:hover,
.theme-solid .navbar-nav a:active,
.theme-solid .navbar-nav a:focus {
    color: #fff
}
.theme-solid.lumosity-light .header #jumbotron h2 {
    color: rgba(0, 0, 0, 0.6)
}
.theme-solid.lumosity-light header p {
    color: rgba(0, 0, 0, 0.45)
}
.theme-solid.lumosity-light header .btn.btn-primary {
    color: #fff
}
.theme-solid.lumosity-light .navbar-nav a {
    color: rgba(0, 0, 0, 0.35);
}
.theme-solid.lumosity-light .navbar-nav a:hover {
    color: rgba(0, 0, 0, 0.6)
}
.body-none,
.body-threes {
    background-color: #fff;
}
.btn.btn-primary span {
    display: inline-block
}
body {
    padding: 0;
    -webkit-font-smoothing: antialiased
}
.container {
    width: auto;
    max-width: 1100px
}
.header {
    padding: 15px;
}
.header h1.navbar-brand {
    height: 40px;
    width: 200px;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    margin-right: 15px;
}
.header h1.navbar-brand a {
    text-indent: -99999px;
    background-position: center center;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat
}
.header .nav.navbar-nav.pull-right {
    position: relative;
    right: -30px
}
.header #jumbotron {
    margin-top: 55px;
    text-align: center;
}
.header #jumbotron h2 {
    margin-top: 0;
    margin-bottom: 20px
}
.header #jumbotron p {
    margin-bottom: 0;
    line-height: 1.6em;
    font-size: 16px
}
.header #jumbotron .btn {
    margin-top: 20px
}
a:hover {
    text-decoration: none
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] {
    display: none;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
}
a:active,
a:hover {
    outline: 0;
}
h1 {
    margin: 0.67em 0;
    font-size: 2em;
}
img {
    border: 0;
}
button,
input,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: 100%;
}
button,
input {
    line-height: normal;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #ffffff;
}
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button,
input,
select[multiple],
textarea {
    background-image: none;
}
a {
    color: #428bca;
    text-decoration: none;
}
img {
    vertical-align: middle;
}
p {
    margin: 0 0 10px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
}
h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
h4,
h5,
h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
h1,
.h1 {
    font-size: 36px;
}
h2,
.h2 {
    font-size: 30px;
}
h4,
.h4 {
    font-size: 18px;
}
ul,
ol {
    margin-top: 0;
    margin-bottom: 10px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container:before,
.container:after {
    display: table;
    content: " ";
}
.container:after {
    clear: both;
}
.container:before,
.container:after {
    display: table;
    content: " ";
}
.container:after {
    clear: both;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.row:before,
.row:after {
    display: table;
    content: " ";
}
.row:after {
    clear: both;
}
.row:before,
.row:after {
    display: table;
    content: " ";
}
.row:after {
    clear: both;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11 {
    float: left;
}
.col-xs-1 {
    width: 8.333333333333332%;
}
.col-xs-2 {
    width: 16.666666666666664%;
}
.col-xs-3 {
    width: 25%;
}
.col-xs-4 {
    width: 33.33333333333333%;
}
.col-xs-5 {
    width: 41.66666666666667%;
}
.col-xs-6 {
    width: 50%;
}
.col-xs-7 {
    width: 58.333333333333336%;
}
.col-xs-8 {
    width: 66.66666666666666%;
}
.col-xs-9 {
    width: 75%;
}
.col-xs-10 {
    width: 83.33333333333334%;
}
.col-xs-11 {
    width: 91.66666666666666%;
}
.col-xs-12 {
    width: 100%;
}
@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11 {
        float: left;
    }
    .col-sm-1 {
        width: 8.333333333333332%;
    }
    .col-sm-2 {
        width: 16.666666666666664%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.33333333333333%;
    }
    .col-sm-5 {
        width: 41.66666666666667%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.333333333333336%;
    }
    .col-sm-8 {
        width: 66.66666666666666%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-10 {
        width: 83.33333333333334%;
    }
    .col-sm-11 {
        width: 91.66666666666666%;
    }
    .col-sm-12 {
        width: 100%;
    }
    .col-sm-push-1 {
        left: 8.333333333333332%;
    }
    .col-sm-push-2 {
        left: 16.666666666666664%;
    }
    .col-sm-push-3 {
        left: 25%;
    }
    .col-sm-push-4 {
        left: 33.33333333333333%;
    }
    .col-sm-push-5 {
        left: 41.66666666666667%;
    }
    .col-sm-push-6 {
        left: 50%;
    }
    .col-sm-push-7 {
        left: 58.333333333333336%;
    }
    .col-sm-push-8 {
        left: 66.66666666666666%;
    }
    .col-sm-push-9 {
        left: 75%;
    }
    .col-sm-push-10 {
        left: 83.33333333333334%;
    }
    .col-sm-push-11 {
        left: 91.66666666666666%;
    }
    .col-sm-pull-1 {
        right: 8.333333333333332%;
    }
    .col-sm-pull-2 {
        right: 16.666666666666664%;
    }
    .col-sm-pull-3 {
        right: 25%;
    }
    .col-sm-pull-4 {
        right: 33.33333333333333%;
    }
    .col-sm-pull-5 {
        right: 41.66666666666667%;
    }
    .col-sm-pull-6 {
        right: 50%;
    }
    .col-sm-pull-7 {
        right: 58.333333333333336%;
    }
    .col-sm-pull-8 {
        right: 66.66666666666666%;
    }
    .col-sm-pull-9 {
        right: 75%;
    }
    .col-sm-pull-10 {
        right: 83.33333333333334%;
    }
    .col-sm-pull-11 {
        right: 91.66666666666666%;
    }
    .col-sm-offset-1 {
        margin-left: 8.333333333333332%;
    }
    .col-sm-offset-2 {
        margin-left: 16.666666666666664%;
    }
    .col-sm-offset-3 {
        margin-left: 25%;
    }
    .col-sm-offset-4 {
        margin-left: 33.33333333333333%;
    }
    .col-sm-offset-5 {
        margin-left: 41.66666666666667%;
    }
    .col-sm-offset-6 {
        margin-left: 50%;
    }
    .col-sm-offset-7 {
        margin-left: 58.333333333333336%;
    }
    .col-sm-offset-8 {
        margin-left: 66.66666666666666%;
    }
    .col-sm-offset-9 {
        margin-left: 75%;
    }
    .col-sm-offset-10 {
        margin-left: 83.33333333333334%;
    }
    .col-sm-offset-11 {
        margin-left: 91.66666666666666%;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11 {
        float: left;
    }
    .col-md-1 {
        width: 8.333333333333332%;
    }
    .col-md-2 {
        width: 16.666666666666664%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33333333333333%;
    }
    .col-md-5 {
        width: 41.66666666666667%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.333333333333336%;
    }
    .col-md-8 {
        width: 66.66666666666666%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-10 {
        width: 83.33333333333334%;
    }
    .col-md-11 {
        width: 91.66666666666666%;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-push-0 {
        left: auto;
    }
    .col-md-push-1 {
        left: 8.333333333333332%;
    }
    .col-md-push-2 {
        left: 16.666666666666664%;
    }
    .col-md-push-3 {
        left: 25%;
    }
    .col-md-push-4 {
        left: 33.33333333333333%;
    }
    .col-md-push-5 {
        left: 41.66666666666667%;
    }
    .col-md-push-6 {
        left: 50%;
    }
    .col-md-push-7 {
        left: 58.333333333333336%;
    }
    .col-md-push-8 {
        left: 66.66666666666666%;
    }
    .col-md-push-9 {
        left: 75%;
    }
    .col-md-push-10 {
        left: 83.33333333333334%;
    }
    .col-md-push-11 {
        left: 91.66666666666666%;
    }
    .col-md-pull-0 {
        right: auto;
    }
    .col-md-pull-1 {
        right: 8.333333333333332%;
    }
    .col-md-pull-2 {
        right: 16.666666666666664%;
    }
    .col-md-pull-3 {
        right: 25%;
    }
    .col-md-pull-4 {
        right: 33.33333333333333%;
    }
    .col-md-pull-5 {
        right: 41.66666666666667%;
    }
    .col-md-pull-6 {
        right: 50%;
    }
    .col-md-pull-7 {
        right: 58.333333333333336%;
    }
    .col-md-pull-8 {
        right: 66.66666666666666%;
    }
    .col-md-pull-9 {
        right: 75%;
    }
    .col-md-pull-10 {
        right: 83.33333333333334%;
    }
    .col-md-pull-11 {
        right: 91.66666666666666%;
    }
    .col-md-offset-0 {
        margin-left: 0;
    }
    .col-md-offset-1 {
        margin-left: 8.333333333333332%;
    }
    .col-md-offset-2 {
        margin-left: 16.666666666666664%;
    }
    .col-md-offset-3 {
        margin-left: 25%;
    }
    .col-md-offset-4 {
        margin-left: 33.33333333333333%;
    }
    .col-md-offset-5 {
        margin-left: 41.66666666666667%;
    }
    .col-md-offset-6 {
        margin-left: 50%;
    }
    .col-md-offset-7 {
        margin-left: 58.333333333333336%;
    }
    .col-md-offset-8 {
        margin-left: 66.66666666666666%;
    }
    .col-md-offset-9 {
        margin-left: 75%;
    }
    .col-md-offset-10 {
        margin-left: 83.33333333333334%;
    }
    .col-md-offset-11 {
        margin-left: 91.66666666666666%;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11 {
        float: left;
    }
    .col-lg-1 {
        width: 8.333333333333332%;
    }
    .col-lg-2 {
        width: 16.666666666666664%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.33333333333333%;
    }
    .col-lg-5 {
        width: 41.66666666666667%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.333333333333336%;
    }
    .col-lg-8 {
        width: 66.66666666666666%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-10 {
        width: 83.33333333333334%;
    }
    .col-lg-11 {
        width: 91.66666666666666%;
    }
    .col-lg-12 {
        width: 100%;
    }
    .col-lg-push-0 {
        left: auto;
    }
    .col-lg-push-1 {
        left: 8.333333333333332%;
    }
    .col-lg-push-2 {
        left: 16.666666666666664%;
    }
    .col-lg-push-3 {
        left: 25%;
    }
    .col-lg-push-4 {
        left: 33.33333333333333%;
    }
    .col-lg-push-5 {
        left: 41.66666666666667%;
    }
    .col-lg-push-6 {
        left: 50%;
    }
    .col-lg-push-7 {
        left: 58.333333333333336%;
    }
    .col-lg-push-8 {
        left: 66.66666666666666%;
    }
    .col-lg-push-9 {
        left: 75%;
    }
    .col-lg-push-10 {
        left: 83.33333333333334%;
    }
    .col-lg-push-11 {
        left: 91.66666666666666%;
    }
    .col-lg-pull-0 {
        right: auto;
    }
    .col-lg-pull-1 {
        right: 8.333333333333332%;
    }
    .col-lg-pull-2 {
        right: 16.666666666666664%;
    }
    .col-lg-pull-3 {
        right: 25%;
    }
    .col-lg-pull-4 {
        right: 33.33333333333333%;
    }
    .col-lg-pull-5 {
        right: 41.66666666666667%;
    }
    .col-lg-pull-6 {
        right: 50%;
    }
    .col-lg-pull-7 {
        right: 58.333333333333336%;
    }
    .col-lg-pull-8 {
        right: 66.66666666666666%;
    }
    .col-lg-pull-9 {
        right: 75%;
    }
    .col-lg-pull-10 {
        right: 83.33333333333334%;
    }
    .col-lg-pull-11 {
        right: 91.66666666666666%;
    }
    .col-lg-offset-0 {
        margin-left: 0;
    }
    .col-lg-offset-1 {
        margin-left: 8.333333333333332%;
    }
    .col-lg-offset-2 {
        margin-left: 16.666666666666664%;
    }
    .col-lg-offset-3 {
        margin-left: 25%;
    }
    .col-lg-offset-4 {
        margin-left: 33.33333333333333%;
    }
    .col-lg-offset-5 {
        margin-left: 41.66666666666667%;
    }
    .col-lg-offset-6 {
        margin-left: 50%;
    }
    .col-lg-offset-7 {
        margin-left: 58.333333333333336%;
    }
    .col-lg-offset-8 {
        margin-left: 66.66666666666666%;
    }
    .col-lg-offset-9 {
        margin-left: 75%;
    }
    .col-lg-offset-10 {
        margin-left: 83.33333333333334%;
    }
    .col-lg-offset-11 {
        margin-left: 91.66666666666666%;
    }
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.btn:focus {
    outline: none;
}
.btn:hover,
.btn:focus {
    color: #333333;
    text-decoration: none;
}
.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-primary {
    color: #ffffff;
    background-color: #428bca;
    border-color: #357ebd;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #3276b1;
    border-color: #285e8e;
}
.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}
.collapse {
    display: none;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav:before,
.nav:after {
    display: table;
    content: " ";
}
.nav:after {
    clear: both;
}
.nav:before,
.nav:after {
    display: table;
    content: " ";
}
.nav:after {
    clear: both;
}
.nav > li {
    position: relative;
    display: block;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #eeeeee;
}
@media (min-width: 768px) {
    .navbar-header {
        float: left;
    }
}
.navbar-collapse {
    max-height: 340px;
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-overflow-scrolling: touch;
}
.navbar-collapse:before,
.navbar-collapse:after {
    display: table;
    content: " ";
}
.navbar-collapse:after {
    clear: both;
}
.navbar-collapse:before,
.navbar-collapse:after {
    display: table;
    content: " ";
}
.navbar-collapse:after {
    clear: both;
}
@media (min-width: 768px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
}
.container > .navbar-header,
.container > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
}
@media (min-width: 768px) {
    .container > .navbar-header,
    .container > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }
}
.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-brand:hover,
.navbar-brand:focus {
    text-decoration: none;
}
@media (min-width: 768px) {
    .navbar > .container .navbar-brand {
        margin-left: -15px;
    }
}
.navbar-nav {
    margin: 7.5px -15px;
}
.navbar-nav > li a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
.thumbnail {
    display: inline-block;
    display: block;
    height: auto;
    max-width: 100%;
    padding: 4px;
    line-height: 1.428571429;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.thumbnail > img {
    display: block;
    height: auto;
    max-width: 100%;
}
a.thumbnail:hover,
a.thumbnail:focus {
    border-color: #428bca;
}
.thumbnail > img {
    margin-right: auto;
    margin-left: auto;
}
.pull-right {
    float: right
}
body {
    font-size: 15px;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif !important;
}
.header {
    background-image: -webkit-radial-gradient(50% 50%, circle, #F67938 29%, #EF4734 120%);
    background-image: radial-gradient( circle at 50% 50%, #F67938 29%, #EF4734 120%);
    color: #fff !important;
}
#jumbotron h2 {
    color: #fff !important;
    font-size: 36px;
    line-height: 44px;
    text-shadow: 0px 2px 0px #DD4C27;
}
.header #jumbotron {
    margin-bottom: 30px;
}
.header #jumbotron p {
    font-weight: 300;
    font-size: 21px;
    color: #fff;
    line-height: 35.7px;
    max-width: 530px;
    margin: 30px auto;
    margin-bottom: 40px;
    text-shadow: 0px 0px 0px #FFF;
}
.navbar-nav > li a {
    color: #fff !important;
    opacity: 0.6;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
}
.navbar-nav > li a:hover {
    opacity: 1;
    border-bottom: 1px solid #fff;
}
.header #jumbotron .btn {
    background: rgba(255, 255, 255, 0.07);
    border: 3px solid #FEF4F2;
    height: 80px;
    max-width: 340px;
    box-sizing: border-box;
    border-radius: 48px;
    margin-bottom: 25px;
    text-align: center;
    padding: 14px 30px 14px 30px;
}
.header #jumbotron .btn:hover {
    background: rgba(255, 255, 255, 0.14);
}
.header #jumbotron .btn span {
    width: 100%;
}
.header #jumbotron .btn .button-title {
    font-weight: bold;
    clear: both;
    float: left;
    font-size: 17px;
}
.header #jumbotron .btn .button-teaser {
    clear: both;
    font-size: 14px;
}
#subheader-columns {
    margin: 70px 0 0;
}
.subheader h4 {
    color: #000;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 22px;
    text-transform: uppercase;
}
.subheader p {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}
.subheader-link {
    color: #F67938;
    display: block;
    margin: 20px 0 0;
    text-shadow: 0px 0px 0px #F67938;
}
.companies-header {
    margin-top: 100px!important;
}
.companies-header h4 {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 12px;
}
#companies-columns {
    padding: 20px 20px;
    border-top: 1px solid #f5f5f5;
}
#companies-columns img {
    max-height: 60px!important;
    min-height: 60px!important;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.8;
}
#companies-columns .thumbnail {
    border: 0!important;
    margin: 20px 0;
}
.theme-solid header {
  background-color: #f0f0f0;
}
.theme-solid .btn-primary {
  background-color: #7f8c8d;
}

.theme-solid .btn-primary:hover {
  background-color: #4e5758;
}
body {
  font-weight: 400;
  font-family: Open Sans, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: Open Sans, sans-serif;
}
a,
.link .title {
  color: #7f8c8d;
}
abbr {
    text-decoration: none;
    border-bottom: 1px dashed;
}

a:hover,
.link:hover .title {
  color: #4e5758;
}

.header h1.navbar-brand {
  width: 260px;
}
.company {
    font-size: x-large;
    text-align: center;
    margin: 40px 0;
    color: #666;
}
