<div class="container body-container">
    <h3>Assumptions</h3>
    <p>
        This documentation assumes that you are already familiar with
        <abbr title="webpack, babel, yarn, functional reactive programming, jsx, redux, styled-components, css grid, progressive web apps, and GraphQL.">
            modern frontend development
        </abbr>.
    </p> 

    <h3>Tutorial</h3>
    <p>We're working on it! Stay tuned for a tutorial made with <span style="color:#e00">&hearts;</span>!</p>

    <h3>API reference</h3>
    <p>We're working on it! Stay tuned for an API reference made with <span style="color:#e00">&hearts;</span>!</p>
</div>