@inject CompanyGenerator companies

<div class="container body-container companies-header" id="subheader-columns">
    <div class="row">
        <div class="col-xs-12 subheader">
            <h4>Companies Using @FrameworkName</h4>
        </div>
    </div>
</div>
<div class="container body-container" id="companies-columns">
    @foreach(var company in companies.Generate().Take(9))
    {
        <div class="col-xs-6 col-md-4 company">
            @company
        </div>
    }
</div>

@functions
{
    public string FrameworkName { get; set; }
}